body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../img/cat.jpg'); /* Replace 'background.jpg' with the path to your image */
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.signup {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration-form {
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 600px;
}

.registration-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="tel"],
.input-group input[type="date"],
.input-group input[type="password"],
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group textarea {
    height: 100px;
}

p{
    font-size: 14px;
    display:inline-block;
    color:black;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color:rgb(238, 7, 165);
}

/* .message{

} */